{% extends 'base.html.twig' %}

{% block title %}Ajout Contact{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="container pt-5">
    <div id="titre-horizontal" class="pb-4 text-matchm text-monospace">
        <h1 class="">ajout Contact</h1>
    </div>
    <div class="row">
        <div id="titre-vertical" class="container text-center col-1 order-2 text-matchm text-monospace">
            <h1 class="vertical">ajout Contact</h1>
        </div>
        <div class="col-11 order-1">
            <div id="formulaire">
                <div class="" style="width: 18rem;">
                    {{ form_start(form) }}
                    {{ form_row(form.nom, {'label': 'Nom'}) }}
                    {{ form_row(form.prenom, {'label': 'Prénom'})}}
                    {{ form_row(form.telephone, {'label': 'Numéro de téléphone'})}}
                    {{ form_row(form.mail, {'label': 'e-mail'})}}
                    {{ form_row(form.societe, {'label': 'Site / Salle /Société'}) }}
                    {{ form_row(form.sauvegarder, {'attr': {'class': 'btn btn-block btn-info'}}) }}<span id="annuler" class="btn btn-block btn-warning">Annuler</span>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>


{% endblock %}
{##}
{% block javascripts %}
    {{ parent() }}


{% endblock %}