{% extends 'base.html.twig' %}

{% block title %}Edition adresse{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="container pt-5">
        <div id="titre-horizontal" class="pb-4 text-matchm text-monospace">
            <h2 class="">édition adresse</h2>
        </div>
    <div class="row">
        <div id="titre-vertical" class="container text-center col-sm-1 order-2 text-matchm text-monospace">
            <h1 class="vertical">édition adresse</h1>
        </div>
        <div class="col-md-5 col-sm-11 order-1">
            <div id="contacts">
                <h2 class="text-matchy">Rattaché à la société :</h2>
                {% if contact.societe is not null %}<div><a class="far fa-edit text-matchy" href="{{ path('editAdresse', {'id': contact.societe.id}) }}"></a> {{ contact.societe.nom }}</div>{% else %}<div class="text-black-50">Pas de société définie</div>{% endif %}
            </div>
            <div id="formulaire">
                <div class="" style="width: 18rem;">
                    {{ form_start(form) }}
                    {{ form_row(form.nom, {'label': 'Nom'}) }}
                    {{ form_row(form.prenom, {'label': 'Prénom'})}}
                    {{ form_row(form.telephone, {'label': 'Numéro de téléphone'})}}
                    {{ form_row(form.mail, {'label': 'e-mail'})}}
                    {{ form_row(form.societe, {'label': 'Site / Salle /Société'}) }}
                    {{ form_row(form.sauvegarder, {'attr': {'class': 'btn btn-block btn-info'}}) }}<span id="annuler" class="btn btn-block btn-warning">Annuler</span>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="order-0 col-md-6 col-sm-11 pb-4">
            <H3 class="text-matchc">{{ contact.prenom }} {{ contact.nom }}</H3>
            <div>{{ contact.telephone }}</div>
            <div>{{ contact.mail }}</div>
            <br><hr><br>
            <a href="{{ path('deleteContact', {'id': contact.id}) }}" class="btn btn-sm btn-danger" onclick="return confirm('ATTENTION : êtes vous certain de vouloir supprimer cette personne ? Cette action est irrévocable.');">
                <i class="far fa-trash-alt"></i>
                Supprimer le contact
            </a>
            <span class="btn btn-sm btn-info" id="modif"></span>
            <span class="btn btn-sm btn-info" id="edit"></span>
        </div>

{% endblock %}
{##}
{% block javascripts %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>

        $(document).ready(function(){
            $("#formulaire").hide();
            var mod = "<i class=\"fas fa-user-edit\"></i> Modifier le contact";
            var ed = "<i class=\"fas fa-undo-alt\"></i> Annuler modification";
            $("#modif").html(mod).show().click(function(){
                    $('#formulaire').toggle(200);
                    $('#contacts').toggle(200);
                    $('#modif').toggle();
                    $('#edit').toggle();
                });
            $("#edit").html(ed).hide().click(function(){
                    $('#formulaire').toggle(200);
                    $('#contacts').toggle(200);
                    $('#modif').toggle();
                    $('#edit').toggle();
               });
            $("#annuler").click(function(){
                    $('#formulaire').toggle(200);
                    $('#contacts').toggle(200);

               });
        });




    </script>

    {{ parent() }}

{% endblock %}