{% extends 'base.html.twig' %}

{% block title %}Liste des Transports{% endblock %}

{% block body %}

<div class="container pt-4">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 ml-4">
            <span class="btn btn-sm btn-outline-dark text-matchy" id="ontransports">transports</span>
            <span class="btn btn-sm btn-outline-dark text-matchy" id="oncourses">courses</span>
            <span class="btn btn-sm btn-outline-dark text-matchy" id="onlocations">locations</span>
        </div>
        <div class="col-4"></div>
    </div>

</div>
<div class="container pt-4">
    <div class="row">
        <div class="container text-center col-1 order-1 text-matchm text-monospace">
            <h1 class="vertical">liste des transports</h1>
        </div>
        <div class="col-11">
            <table class="table table-borderless table-hover table-sm">
                <tr class="text-matchy">
                    <th>NUMÉRO</th>
                    <th>FOURNISSEUR</th>
                    <th>ENLĒVEMENT</th>
                    <th>LIVRAISON.</th>
                    <th>JOB</th>
                    <th>REM</th>
                </tr>
                {% for transport in listeTransports %}
                <tr class="font-weight-light" id="{{ transport.typeDemande }}_{{ transport.id }}">
                    <td><a href="{#{{ path('editAdresse', {'id': adresse.id}) }}#}" class="text-matchc">{{ transport.numeroDemande }}</a></td>
                    <td>{% if transport.transporteur is not null %}{{ transport.transporteur.nom }}
                        {% else %}<span class="text-muted">N/A</span>
                        {% endif %}
                    </td>
                    <td class="text-truncate" style="max-width: 400px">
                        {% if transport.expediteur %}{{ transport.expediteur.nom }}
                        {% else %}<span class="text-muted">N/A</span>
                        {% endif %}
                    </td>
                    <td class="text-truncate" style="max-width: 400px">
                        {% if transport.destinataire %}{{ transport.destinataire.nom }}
                        {% else %}<span class="text-muted">N/A</span>
                        {% endif %}
                    </td>
                    <td>{{ transport.numeroLocasyst }}</td>
                    <td>{% if transport.remarque|default  %}  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        {% else %}  <i class="fa fa-circle-o" aria-hidden="true"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>

    </div>

{% endblock %}
{##}
{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script>
            $transports = $("tr[id^='transport_']");
            $locations = $("tr[id^='location_']");
            $courses = $("tr[id^='course_']");
            $ontransports = $("#ontransports");
            $onlocations = $("#onlocations");
            $oncourses = $("#oncourses");

            $ontransports.click(function(){
                $ontransports.toggleClass("text-matchy text-muted");
                $transports.toggle();
            })
            $onlocations.click(function(){
                $onlocations.toggleClass("text-matchy text-muted");
                $locations.toggle();
            })
            $oncourses.click(function(){
                $oncourses.toggleClass("text-matchy text-muted");
                $courses.toggle();
            })
        </script>


{% endblock %}