<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gestrans 2{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script src="https://kit.fontawesome.com/1c35003cc2.js" crossorigin="anonymous"></script>
    </head>

    <body class="bg-light">
        <header class="mt-auto py-3">
            <div class="container">
                <img class="d-block mx-auto" src="{{ asset('build/logo_gestrans.png') }}" alt="logo application">
            </div>
        </header>
        <div class="border-bottom border-top container sticky-top nav-scroller py-1 mb-2 bg-light">
            <nav class="nav d-flex justify-content-between">
                <span class="nav-item">
                    <a class="p-2 text-muted text-matchm" href="{{ path('form') }}">liste transports</a>
                </span>
                <span class="nav-item">
                    <a class="p-2 text-muted text-matchm" href="{{ path('form') }}">liste locations</a>
                </span>
                <span class="nav-item">
                    <a class="p-2 text-muted dropdown-toggle"
                       data-toggle="dropdown"
                       id="Preview1"
                       href="#"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">ajout transport</a>
                    <span class="dropdown-menu" aria-labelledby="Preview1">
                        <a class="dropdown-item p-2 text-muted" href="{{ path('ajoutTransport', {'type': 'transport'}) }}">ajout transport / fret</a>
                        <a class="dropdown-item p-2 text-muted" href="{{ path('ajoutTransport', {'type': 'course'}) }}">ajout course</a>
                    </span>
                </span>
                <span class="nav-item">
                    <a class="p-2 text-muted" href="{{ path('ajoutTransport', {'type': 'location'}) }}">ajout location</a>
                </span>
                <span class="nav-item">
                    <a class="p-2 text-muted dropdown-toggle"
                       data-toggle="dropdown"
                       id="Preview1"
                       href="#"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false"><i class="fas fa-key"></i> admin - add</a>
                    <span class="dropdown-menu" aria-labelledby="Preview1">
                        <a class="dropdown-item p-2 text-muted" href="{{ path('ajoutTransporteur')}}">ajout fournisseur</a>
                        <a class="dropdown-item p-2 text-muted" href="{{ path('ajoutContact')}}">ajout contact</a>
                        <a class="dropdown-item p-2 text-muted" href="{{ path('ajoutAdresse')}}">ajout adresse</a>
                    </span>
                </span>
                <span class="nav-item">
                    <a class="p-2 text-muted dropdown-toggle"
                       data-toggle="dropdown"
                       id="Preview2"
                       href="#"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false"><i class="fas fa-key"></i> admin - view / edit</a>
                    <span class="dropdown-menu" aria-labelledby="Preview2">
                        <a class="dropdown-item p-2 text-muted" href="{{ path('transporteurs')}}">liste fournisseurs</a>
                        <a class="p-2 text-muted dropdown-item" href="{{ path('adresses') }}">liste adresses</a>
                        <a class="dropdown-item p-2 text-muted" href="{{ path('contacts')}}">liste contacts</a>
                    </span>
                </span>
            </nav>
        </div>


        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="container text-center alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('ajax') }}
        {% endblock %}
    </body>
</html>
